<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnCbstGmH9o_r5lH-2S6c_nmZB70hLegU</string>
	<key>GCM_SENDER_ID</key>
	<string>928328010113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zoom-app-d1a21</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-app-d1a21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928328010113:ios:abbc69f58f4a91e34d4080</string>
</dict>
</plist>